<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
    </header>
    <h4>И на Марсе будут яблони цвести!</h4>
    <main role="main" class="container">
        {% block content %}<ol>{{ title }}</ol>
    <ol>Фамилия - {{ surname }}</ol>
    <ol>Имя - {{ name }}</ol>
    <ol>Образование - {{ education }}</ol>
    <ol>Профессия - {{ profession }}</ol>
    <ol>Пол - {{ sex }}</ol>
    <ol>Мотивация - {{ motivation }}</ol>
    <ol>Готовность - {{ ready }}</ol>{% endblock %}
    </main>
</body>
</html>